/* Colors */
/*
CG Blue: 0081a7
Verdigris: 00afb9
Light Yellow: fdfcdc
Peach Puff: fed9bf
Bittersweet: f07167
*/

/* General Styles */
h1 {
  font-size: 4.5rem;
  color: #0081a7;
}
h2 {
  font-size: 3.8rem;
  color: #00afb9;
}
h3 {
  font-size: 2.4rem;
  color: #191d1f;
}
body {
  font-size: 1.6rem;
  color: #191d1f;
}
a {
  text-decoration: none;
  color: #f07167;
}

/* Header Styles */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #fdfcdc;
  border-bottom: 5px solid #191d1f;
}

nav {
  width: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-right: 3%;
}

.nav-link {
  font-size: 2.4rem;
  padding: 1% 2%;
  margin: 1%;

  width: 45%;
  background-color: #fed9bf;
  text-align: center;

  border: 2px solid #f07167;
  border-radius: 10px;
}
.nav-link:hover {
  background-color: #6ce7ee;
  color: #0081a7;
  border: 2px solid #0081a7;
}

/* Pizza Order Styles */
.to-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.background-img {
  width: 100%;  
  background-image: url('./Assets/Pizza.jpg');
  min-height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;

  border-bottom: 5px solid #191d1f;
}

.to-form .content {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  padding: 50px 0;
}

#order-pizza {
  margin-top: 10%;

  background-color: #6ce7ee;
  color: #0081a7;
  border: 3px solid #0081a7;
  border-radius: 10px;

  font-size: 3.6rem;
  width: 200px;
  height: 70px;
}

/* The rest of it */
.components {
  background-color: #fdfcdc;
}